.employees-view {
    display:flex;
    
}

.employees-list {
    display:flex;
    flex-direction: column;
    padding: 15px;
    flex-basis: 60%;
    border: 5px var(--darkest) solid;
    border-radius: 10px;
    margin: 15px;
}

.employees-new {
    display:flex;
    flex-direction: column;
    padding: 15px;
    flex-basis: 40%;
    border: 5px var(--darkest) solid;
    border-radius: 10px;
    margin: 15px;
}

.employees-new > h2 {
    align-self: center;
    border: 3px var(--dark) solid;
    border-radius: 10px;
    padding: 10px;
    font-size: 30px;
    color: var(--darkest);
    margin: 0px;
}

.employees-new-form {
    display:flex;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 3px var(--dark) solid;
    border-radius: 10px;
    padding: 10px;
}

.employees-list > h2 {
    align-self: center;
    border: 3px var(--dark) solid;
    border-radius: 10px;
    padding: 10px;
    font-size: 30px;
    color: var(--darkest);
    margin: 0px;
    margin-bottom: 5px;
}

.employee-items {
    display:flex;
    flex-wrap: wrap;
    border: 3px var(--dark) solid;
    border-radius: 10px;
    padding: 10px;
    color: var(--darkest);
    font-size: 17px;

}

.employee-items > a {
    border: 2px var(--accent) solid;
    border-radius: 10px;
    padding: 6px;
    margin: 5px;
    flex-basis:42%;
}

.employee-items > a:hover {
    box-shadow: 0px 0px 12px var(--dark);
    font-weight: bold;
    background-color: var(--light)
}

.employees-new-form {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top:20px;
}

.employees-new-checkbox {
    margin-top: 10px;
}

.employees-new-form > label {
    margin: 4px;
    text-decoration: underline;
}

.employees-new-label {
    display:flex;
    justify-content: flex-end;
}

.employees-new-input {
    margin-left: 60px;
    border: 1px var(--accent) solid;
}

.employees-new-create {
    border: 2px var(--accent) solid;
    border-radius: 10px;
    max-width: 30%;
    align-self: center;
    padding: 4px;
    color: var(--darkest);
    font-size: 17px;
    margin-top: 10px;
    background-color: var(--light);
    font-weight: 900;
}

.employees-new-create:hover {
    border: 2px var(--light) solid;
    color: var(--dark);
    background-color: var(--accent);
    font-weight: bold;
    box-shadow: 0px 0px 16px var(--accent)
}

