.payroll-view {
    display:flex;
}

.payroll-create {
    display:flex;
    flex-direction:column;
    flex-basis:25%;
    border: 5px var(--darkest) solid;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    padding-top: 25px;
}


.payroll-date-select {
    border: 1px var(--accent) solid;
    margin: 11px;
    font-size: 16px;
}

.payroll-create-label {
    margin: 8px;
}

.payroll-end {
    margin-left: 18px;
}

.payroll-create-form {
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 3px var(--dark) solid;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.payroll-create-btn {
    border: 2px var(--accent) solid;
    align-self: center;
    padding: 4px;
    color: var(--darkest);
    font-size: 17px;
    margin-top: 10px;
    background-color: var(--light);
    font-weight: 900;
}

.payroll-create-btn:hover {
    border: 2px var(--light) solid;
    color: var(--dark);
    background-color: var(--accent);
    font-weight: bold;
    box-shadow: 0px 0px 16px var(--accent)
}

.payroll-display {
    display:flex;
    flex-direction: column;
    flex-basis: 75%;
    border: 5px var(--darkest) solid;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    padding-top: 25px;
}

.payroll-info {
    display:flex;
    flex-direction: column;
    flex-basis:80%;
    color: var(--darkest);
    margin: 6px;
    border: 3px var(--dark) solid;
    border-radius: 10px;
    padding: 6px;

}

.payroll-info-header {
    display:flex;
}

.payroll-info-header > h2 {
    flex-basis:25%;
    display:flex;
    justify-content: center;
    text-decoration: underline;
}

.payroll-shift-item {
    display:flex;
    
}

.payroll-shift-item > div {
    flex-basis:25%;
    display:flex;
    justify-content: center;
}

.payroll-total-label {
    font-weight: bold;
    font-size: 20px;
    display:flex;
    flex-basis: 20%;
    display:flex;
    color: var(--darkest);
    margin: 6px;
    border: 3px var(--dark) solid;
    border-radius: 10px;
    padding: 6px;
    align-items: center;
    justify-content: center;
    padding-right: 40px;
    text-decoration: underline;
}

.payroll-total-data {
    margin-left: 40px;
}