.periods-view {
    display:flex;
    flex-direction: column;
}

.periods-view-select {
    display:flex;
    justify-content: center;
    align-items: center;
}

.periods-view-dropdown {
    border: 1px var(--accent) solid;
    margin: 30px;
    margin-bottom: 20px;
    font-size: 17px;
}